div.fieldset { border: 1px solid #ECECEC; margin: 10px 0; padding: 10px 10px 17px; }
div.fieldset span.legend { position: relative; background-color: #FFF; padding: 3px; top: -18px; font: 700 11px Arial, Helvetica, sans-serif; color: #000000; }

.uploadify button {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #FAFAFA;
	background-image: -moz-linear-gradient(center top, #FFFFFF, #FFFFFF 25%, #E6E6E6);
	background-repeat: no-repeat;
	border-color: #CCCCCC #CCCCCC #BBBBBB;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px
		rgba(0, 0, 0, 0.05);
	color: #333333;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	line-height: 16px;
	padding: 2px 7px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

.uploadify button,.uploadify button:hover {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.uploadify button[disabled]{ cursor:default; background-image:none; background-color:#e6e6e6; opacity:0.65; filter:alpha(opacity=65); -webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none; }

.uploadify button:hover {
	text-decoration: none;
	background-color: #e6e6e6;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

.uploadify button i {
	background-image: url(../pics/icons.png);
	background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    vertical-align: text-top;
    width: 14px;
    margin-right: 3px;
}

.uploadify button#cancel_button {
	background-color: #faa732;
	background-image: -moz-linear-gradient(top, #fbb450, #f89406);
	background-image: -ms-linear-gradient(top, #fbb450, #f89406);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450),
		to(#f89406) );
	background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
	background-image: -o-linear-gradient(top, #fbb450, #f89406);
	background-image: linear-gradient(top, #fbb450, #f89406);
	background-repeat: repeat-x;
	filter: progid :     DXImageTransform.Microsoft.gradient (    
		startColorstr =   '#fbb450', endColorstr =     '#f89406', GradientType
		=     0 );
	border-color: #f89406 #f89406 #ad6704;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid :   DXImageTransform.Microsoft.gradient (     enabled =  
		false );
}

.uploadify button#cancel_button:active {
	background-color: #c67605 \9;
}

.uploadify button#cancel_button:hover {
	background-color: #f89406;
}

.uploadify button#cancel_button[disabled]:hover {
	background-color: #faa732 !important;
	background-position: 0;
}

.uploadify button#cancel_button i {
	background-position: -216px -96px;
}

.uploadify button#upload_button {
	background-color: #006DCC;
	background-image: -moz-linear-gradient(center top, #0088CC, #0044CC);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.uploadify button#upload_button {
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc),
		to(#0044cc) );
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(top, #0088cc, #0044cc);
	background-repeat: repeat-x;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#0088cc', endColorstr = '#0044cc', GradientType = 0 );
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid : DXImageTransform.Microsoft.gradient ( enabled =   false
		);
}

.uploadify button#upload_button:hover {
	background-color: #0044cc;
}

.uploadify button#upload_button:active {
	background-color: #003399 \9;
}

.uploadify button#upload_button[disabled]:hover {
	background-color: #006dcc !important;
	background-position: 0;
}

.uploadify button#upload_button i {
	background-position: -144px -24px;
}

.uploadify button#clear_button {
	background-color: #DA4F49;
	background-image: -moz-linear-gradient(center top, #EE5F5B, #BD362F);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.uploadify button#clear_button {
	background-color: #da4f49;
	background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b),
		to(#bd362f) );
	background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: linear-gradient(top, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	filter: progid :   DXImageTransform.Microsoft.gradient (   startColorstr
		= '#ee5f5b', endColorstr =   '#bd362f', GradientType =   0 );
	border-color: #bd362f #bd362f #802420;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid :   DXImageTransform.Microsoft.gradient (   enabled =    
		false );
}

.uploadify button#clear_button:hover {
	background-color: #bd362f;
}

.uploadify button#clear_button:active {
	background-color: #942a25 \9;
}

.uploadify button#clear_button[disabled]:hover {
	background-color: #da4f49 !important;
	background-position: 0;
}

.uploadify button#clear_button i {
	background-position: -456px 0;
}

.uploadify #queue-message.green {
	color: green;
}

.uploadify #queue-message.red {
	color: #DA4F49;
}

.uploadifyQueue {
	margin-top: 5px;	
}

.uploadifyQueue .header {
	font-size: 13px;
	font-weight: bold;
}

.uploadifyQueueItem {
	background-color: #F5F5F5;
	border: 1px solid #E5E5E5;
	font: 11px Verdana, Geneva, sans-serif;
	margin-top: 5px;
	padding: 10px;
	/*width: 350px;*/
	width: 96%;
	float: left;
}

.uploadifyError {
	background-color: #FDE5DD !important;
	border: 1px solid #FBCBBC !important;
}

.uploadifyQueueItem .cancel {
	float: right;
}

.uploadifyQueueItem .filename {
	float: left;	
}

.uploadifyQueue .completed {
	background-color: #E5E5E5;
}

.uploadifyProgress {
	background-color: #E5E5E5;
	width: 40%;
	float: right;
	margin-right: 10px
}

.uploadifyProgressBar {
	background-color: #006DCC;
	height: 15px;
	width: 1px;
}