@CHARSET "ISO-8859-1";

.globaladmin-tree li div { 
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.globaladmin-tree li div.item {
	min-width: 20%;
}

#search-tree-field { font-size: 11px; padding: 2px; width: 100px; vertical-align: middle; }